apiVersion: apps/v1
kind: Deployment
metadata:
  name: upf-deployment
  labels:
    app: upf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: upf
  template:
    metadata:
      labels:
        app: upf
      annotations:
        cni.projectcalico.org/ipAddrs: "[\"192.168.2.6\"]"
        k8s.v1.cni.cncf.io/networks: upf-bridge-conf
    spec:
      containers:
        - name: upf
          image: steven30801/free5gc-build:ovs-test
          imagePullPolicy: IfNotPresent
          command: ["/bin/bash"]
          args: ["-c", "/root/setup.sh && /usr/src/free5gc-stage-1/free5gc-upfd"]
          stdin: true
          tty: true
          volumeMounts:
            - name: free5gc-config
              mountPath: /usr/src/free5gc-stage-1/install/etc/free5gc/free5gc.conf
              subPath: free5gc.conf
            - name: tun-device
              mountPath: /dev/net/tun
          securityContext:
            privileged: true
      volumes:
        - name: free5gc-config
          configMap: 
            name: free5gc-configmap
        - name: tun-device
          hostPath:
            path: /dev/net/tun
            type: File
